<div class="header-bottom"><!--header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="mainmenu pull-left">
                    <ul class="nav navbar-nav collapse navbar-collapse">
                        <li><a href="/" class="active">Trang chủ</a></li>
                        <li><a href="#">Liên hệ</i></a>
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <form action="{% url 'search' %}" method="POST">
                        {% csrf_token %}
                    <div class="search_box pull-right">              
                        <input type="text" name="r" placeholder="Search"/>
                    </div>
                    <input style="display: none;" type="submit" />
                </form>
            </div>
        </div>
    </div>
</div><!--/header-bottom-->